.card-img {
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.custom-title {
    /* font-style: bold; */
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.card-title {
    font-size: 12px;
    font-weight: bold;
}

.custom-card-text {
    font-size: 10px;
}

.table .small {
    color: grey;
}

/* ASIDE-2 del POST */

.custom-card-header {
    background-color: black;
    height: 10px;
}

.custom-card-header-2 {
    background-color: white;
    height: 10px;
    border: 0px;
}

.btn-primary {
    background-color: rgb(59, 73, 223);
    border: 0px;
    width: 100%;
}
.card-body h5 {
    /* padding-top: 10px; */
}

.custom-pic {
    width: 50px;
    border-radius: 80%;
    position: absolute;
    left: 1.25rem;
    top: 10px;
}

.custom-card-header-2 h4 {
    position: absolute;
    left: 5rem;
}
