.fuente{
    a{
      color:black;
      text-decoration:none; 
      &:hover{
          text-decoration:none;
          color: blue;
          background:rgba(238, 235, 235, 0.932);
      } 
    }
    
    
}
.fsize-ch{
    li{font-size:85%;
    color:gray;
    margin:0 0 0 20%;
    }
    
}

.profile-name{
    .profile-img{
   
    border-radius: 50%;
    width: 30%;
    height: 30%;
    }
}

.img-sticker{
    width: 100%;
    height: 100%;
    border-radius: 3%;
}
.sticker-title{
    font-size: 100%;
    text-align: center;
        font-weight: bold;
        color:blue; 
    a{
        text-align: center;
        font-weight: bold;
        color:blue; 
        &:hover{
            text-decoration:none;
            color: blue;
        } 
    }

}