* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #eef0f1;


    box-sizing: border-box;
    /* margin: 0 0 0 0;
    padding: 0 0 0 0; 
    list-style-type:none; */

    font-family: DM Sans;
}