.custom-container-footer {
    border: 0px solid blue;
    background-color: #d2d6db;
}

.crayons-footer__mascot {
    position: absolute;
    right: 1.25rem;
    top: -2;
    transform-origin: center top;
}

hr {
    width: 20%;
}