main {
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    a {
        text-decoration: none;
        color: black;
        font-family: "Open Sans", sans-serif;
    }




}

.size-p-avatar {

    width: 90px;

}

.images-size-articles {
    height: 15px;
    width: 15px;
    ;
}

.font-size-hash {
    font-style: light;
    color: #757474;
    font-size: 13px;

    a {
        margin-left: 8px;
    }

}

.main-body-card {
    margin: 0 50px 0 50px;
}