main {
    .nav-bar-cambios {
        a {
            color: black;
            text-decoration: none;
            font-size: 12px;

            &:hover {
                text-decoration: none;
                border-bottom: 3px solid #3b49df;
                color: #3b49df;
                background: rgba(238, 235, 235, 0.932);
            }
        }


    }




    .avatar {
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 10px;
    }


}

.nav-bar-cambios {
    margin-top: 10px;
    font-size: 18px;
    color: #171718;
    font-style: bold;


}


a {
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;

    &:hover {
        text-decoration: none;
    }
}




.size-p-avatar {
    margin-top: 20px;

    width: 88px;

}

.images-size-articles {
    font-size: 12px;
    margin-left: -13px;
}



.font-size-hash {
    font-style: light;
    color: #757474;
    font-size: 13px;
    margin-top: 10px;
    margin-left: -3px;

    a {
        margin-left: 8px;
    }

}

.main-body-card {
    margin: -30px 10px 0 50px;
}

.save-text-font {
    font-size: 12px;

    p {
        margin-top: 12px;
        margin-right: 15px;
    }
}

.btn-secondary.save-button {
    color: rgb(110, 110, 110);
    background-color: #d2d6db;
    border: none;
}


.ultimo-card-footer {
    height: 20px;
    background-color: #eef0f1;

}