.card-body{
    .main-text{
        font-size: 40px;
        font-weight:bolder;
    }
}



.size-avatar-post
img{

vertical-align: middle;
width: 40px;
height: 40px;
border-radius: 50%;

}

.hash-article{
    p{
    margin:0 10px 0 0;
    border-radius: 8px;
    font-size: 12px;
}
}

.content-margin-align{
margin: 0 10px 0 0;
}