
.as2{
    ul{

    
        .as3{
            text-decoration: none;
            list-style: none;
            
            &:hover{
                background:red;
                color: green;
            }

        }
    }
}